*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: $secundary-color;
    font-size: $font-main;
    font-size: $font-base;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

aside h2 {
    font-size: 1.2em;
}

footer {
    background: #222;
    text-align: center;
    font-size: .9em;
    color: #eee;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 4em;
}
