-var sitio = "HTML5 Template"
-var titulo = "Adaptable a moviles"
-var descripcion = "Sitio web estático"
-var paginas = ["inicio", "nosotros", "servicios", "clientes","contacto"]
-var paginaActual = "inicio"
