block config
    include ../config/vars
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{titulo} | #{sitio}
        meta(name="description" content=(description))
        // build:css css/styles.min.css
        each css in files.CSS
            link(rel="stylesheet", href=`../${css}`)
        // endbuild
    body
        header.ed-container
            .ed-item.l-20
                include ../blocks/logo
            .ed-item.l-80
                nav
                    include ../blocks/menu
        #banner.ed-container
            .ed-item
                include ../blocks/banner
        .ed-container
            main.ed-item.l-75
                block main
            aside.ed-item.l-25
                .aside-inner
                block aside
        footer
            .ed-container
                .ed-item
                    include ../blocks/footer
        // build:js js/scrips.min.js
        each js in files.JS
            script(src=`../${js}`)
        // endbuild