.contacto { 
    width: 80%;
    margin: 2em auto;
}
.contacto .ed-item {
    margin-bottom: 1em;
}

.contacto input not(input[type="submit"]),
textarea{
    width: 100%;
}

.contacto input[type="submit"] {
    background: steelblue;
    color: #fff;
    text-transform: uppercase;
    line-height: 2;
    padding: 0 1em;
    border: none;
}
